<style>
	* {
		color: #2a3333
	}
	h1, h2, h2 a {
		font-family: "VAG Rounded W02 Bold", "Arial Rounded MT Bold", "Arial Rounded MT", "Arial Rounded", Arial, sans-serif
	}
	h2 a {
		text-decoration: none;
	}
	h2 a:hover {
		text-decoration: underline;
	}
	p, a, span, div, li {
		font-family: "Futura Plus W08 Book", "Trebuchet MS", Arial, sans-serif
	}
	ul.tags {
		overflow: auto;
		list-style-type: none;
		margin: 0px;
		padding: 0px;
	}
	ul.tags li {

		float: left;
		margin-right: 0px;
		border-right: 1px solid #aaa;
		padding: 0px 5px 0px 5px;
	}
	ul.tags li:first-child {
		margin-left: 0px;
		padding-left: 0px;
	}
	ul.tags li:last-child {
		border-right: none;
	}

	/* Taken from: http://cssglobe.com/lab/css3_tags/01.html; */
	ul.posts {
		list-style: none;
		margin: 0px;
		padding: 0px;
	}
	li.post {
		position:relative;
		padding: 10px;
		background: #f8f8f8;
		border-radius: 10px;
		border: 1px solid #e8e8e8;
		margin-bottom: 20px;
	}
	li.post:last-child {
		margin-bottom: 0px;
	}
	li.post h2 {
		margin: 0px;
		padding: 0px;
	}
	/*.tags{
		margin:0;
		padding:0;
		position:absolute;
		right:24px;
		bottom:-12px;
		list-style:none;
		}
	.tags li, .tags a{
		float:left;
		height:24px;
		line-height:24px;
		position:relative;
		font-size:11px;
		}
	.tags a{
		margin-left:20px;
		padding:0 10px 0 12px;
		background:#0089e0;
		color:#fff;
		text-decoration:none;
		-moz-border-radius-bottomright:4px;
		-webkit-border-bottom-right-radius:4px;
		border-bottom-right-radius:4px;
		-moz-border-radius-topright:4px;
		-webkit-border-top-right-radius:4px;
		border-top-right-radius:4px;
		}
	.tags a:before{
		content:"";
		float:left;
		position:absolute;
		top:0;
		left:-12px;
		width:0;
		height:0;
		border-color:transparent #0089e0 transparent transparent;
		border-style:solid;
		border-width:12px 12px 12px 0;
		}
	.tags a:after{
		content:"";
		position:absolute;
		top:10px;
		left:0;
		float:left;
		width:4px;
		height:4px;
		-moz-border-radius:2px;
		-webkit-border-radius:2px;
		border-radius:2px;
		background:#fff;
		-moz-box-shadow:-1px -1px 2px #004977;
		-webkit-box-shadow:-1px -1px 2px #004977;
		box-shadow:-1px -1px 2px #004977;
		}

	.tags a:hover{background:#555;}
	.tags a:hover:before{border-color:transparent #555 transparent transparent;}*/
</style>
